* {
	margin: 0px;
	border-width: 0px;
	padding: 0px;
}
.end {
	position: absolute;
	z-index: 13;
	top: 2500%;
}

.scenes {
	position: fixed;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	opacity: 0;
}
.scene0 {
	background: url(../images/levels/low_income_house.png) no-repeat;
    background-size: 100% 100%;
    z-index: 0;
}
.scene1 {
	background: url(../images/levels/city1.png) no-repeat;
    background-size: 100% 100%;
    z-index: 1;
}
.scene2 {
	background: url(../images/levels/city2.png) no-repeat;
    background-size: 100% 100%;
    z-index: 2;
}
.scene3 {
	background: url(../images/levels/city3.png) no-repeat;
    background-size: 100% 100%;
    z-index: 3;
}
.scene4 {
	background: url(../images/levels/city4.png) no-repeat;
    background-size: 100% 100%;
    z-index: 4;
}
.scene5 {
	background: url(../images/levels/city5.png) no-repeat;
    background-size: 100% 100%;
    z-index: 5;
}
.scene6 {
	background: url(../images/levels/city6.png) no-repeat;
    background-size: 100% 100%;
    z-index: 6;
}
.scene7 {
	background: url(../images/levels/city7.png) no-repeat;
    background-size: 100% 100%;
    z-index: 7;
}
.scene8 {
	background: url(../images/levels/city8.png) no-repeat;
    background-size: 100% 100%;
    z-index: 8;
}
.scene9 {
	background: url(../imagse/levels/city9.png) no-repeat;
    background-size: 100% 100%;
    z-index: 9;
}
.scene10 {
	background: url(../images/levels/office_left.png) no-repeat;
    background-size: 100% 100%;
    z-index: 10;
}
.scene11 {
	background: url(../images/levels/office_right.png) no-repeat;
    background-size: 100% 100%;
    z-index: 11;
}
#first_scene {
	opacity: 1;
}

.protagonist {
	width: 40%;
	height: 40%;
	position: fixed;
	z-index: 12;
	top: 40%;
	left: 40%;
	background: url(../images/characters/black-female.png) no-repeat center center;
    background-size: contain;
}